.about-me{
    width: 100%;
    padding: 70px 0;
    &__descr{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        align-items: middle;
        gap: 30px;
        &_item{
            padding: 20px;
            font-size: 20px;
            line-height: 30px;
            font-weight: 500;
            color: black;
            text-align: center;
            border: 3px outset  #FFA501;
            border-radius: 10px;
            background: url("../image/gold-background.jpg");
            opacity: 0.9;
            &_animate{
                animation: rollIn 1s;
            }
        }
        &_icon{
            width: 100px;
            margin: 0 auto;
            display: flex;
            margin-bottom: 15px;
            &_animate-star{
                animation: flip infinite 5s;
            }
            img{
                align-items: center;
                justify-content: center;
                height: 100px;
                width: auto;

            }
        }
    }
}
