@keyframes fadeScale{
    from{
        transform: scale(0); 
    }
    to{
        transform: scale(1);
    }
}

@keyframes fadeScale40{
    from{
        transform: scale(0.6); 
        border-radius: 100%;
    }
    to{
        transform: scale(1);
        border-radius: 0%;
    }
}

@keyframes fadeInRight50Skew30{
    from{
        transform: translateX(50%) skewX(-30deg); 
    }
    to{
        transform: translateX(0%) skewX(-30deg);
    }
}

@keyframes fadeInRight50Skew20{
    from{
        transform: translateX(50%) skewX(-20deg); 
    }
    to{
        transform: translateX(0%) skewX(-20deg);
    }
}

@keyframes fadeInRight{
    from{
        transform: translateX(100%); 
    }
    to{
        transform: translateX(0%);
    }
}

@keyframes fadeInLeft{
    from{
        transform: translateX(-100%); 
    }
    to{
        transform: translateX(0%);
    }
}


@keyframes fadeInRight40{
    from{
        transform: translateX(40%); 
    }
    to{
        transform: translateX(0%);
    }
}

@keyframes fadeInDown{
    from{
        transform: translateY(100%); 
    }
    to{
        transform: translateY(0%);
    }
}

@keyframes fadeInUp{
    from{
        transform: translateY(-100%); 
    }
    to{
        transform: translateY(0%);
    }
}

@keyframes rotateY180{
    from{
        transform: rotateY(180deg);
    }
    to{
        transform: rotateY(0deg);
    }
}

@keyframes rotateY90{
    from{
        transform: rotateY(90deg);
    }
    to{
        transform: rotateY(0deg);
    }
}

@keyframes rotateX90{
    from{
        transform: rotateX(90deg);
    }
    to{
        transform: rotateX(0deg);
    }
}

@keyframes fadeInOpacity{
    from{
       opacity: 0;
    }
    to{
       opacity: 1;
    }
}

@keyframes shadowPulse {
    from, 
    to{
        transform: scale(1);
    }

    50%{
       transform: scale(1.05);
    }
}

@keyframes fadeForm {
    from{
        transform: scale(0);
        border-radius: 300px;
    }
    to{
        transform: scale(1);
        border-radius: 5px;
    }
}

@keyframes cup {
 
    from,
    to{
        transform: rotate(10deg);
    }
    50%{
        transform: rotate(-10deg);
    }
}

@keyframes shoe {

    from{  
        transform: translateX(-70%) translateY(0%) rotate(-15deg);
    }
    25%{  
        transform: translateX(-70%) translateY(0%) rotate(-35deg);
    }
    50%{
        transform: translateX(0%) translateY(-25%) rotate(-35deg);
    }
    75%{
        transform: translateX(70%) translateY(0%) rotate(-15deg);
    }
    to{
        transform: translateX(70%) translateY(0%) rotate(-35deg);  
    }
}






