.link_contact{
    width: 20%;
    display: block;
    a{
        display: block;
        margin: 0 auto;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        color: #071678;
        text-decoration: none;
        text-shadow: -1px 0 rgb(53, 45, 45), 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
    }
    &_animate{
        animation: fadeInLeft 1s;
    }
}
.footer_link{
    a{
        color: #FFA501;
        text-shadow: -1px 0 black, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
    }
}


@media (max-width: 768px){
    .link_contact{
        a{
            font-size: 24px;
        }
    }
}
@media (max-width: 555px){
    .link_contact{
        display: none;
    }
}