.news{
    background: url("../image/background2.jpg") center (center/cover) no-repeat;
    padding: 70px 0;

    &__wrapper{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__items{
        width: 55%;
        height: auto;
    }
    &__item{
        padding: 5px 0 40px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 243px;
        margin: 50px 0;
        position: relative;
        &:last-child{
            margin-bottom: 0;
        }
     
        &_img{
            position: absolute;
            width: 25%;
            height: auto;
            border-radius: 35%;
            opacity: 0.95;
            top: -20%;
            box-shadow: 3px 3px 10px white, -3px -3px 10px white;
            &_animate{
                animation: fadeInDown 1s backwards;
            }
        }
        &_wrapper{
            background-color: rgba(7, 22, 120, 0.5);
            box-shadow: inset 2px 2px 5px#071678, inset -2px -2px 5px#071678;
            border-radius: 70px;
            padding: 70px 35px 35px 35px;
            text-align: center;
            box-shadow: 3px 3px 10px white, -3px -3px 10px white;
            &_animate{
                animation: zoomInUp 1s backwards;
            }
        }
        &_title{
            text-transform: uppercase;
            font-weight: 700;
            font-size: 22px;
            color: black;
            text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
        }
        &_descr{
            display: block;
            margin: 0 auto;
            width: 430px;
            font-size: 18px;
            font-weight: 300;
            color: white;
            text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
            a{
                display: block;
                margin-top: 10px;
                font-size: 24px;
                font-weight: 700;
                text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
            }

            
        }
    }

    &__videos{
        width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        &_item{
            width: 90%;
            margin-top: 130px;
            border-radius: 45%;
            overflow: hidden;
            box-shadow: 5px 5px 5px white, -5px -5px 5px white;
            &:first-child{
                margin-top: -60px;
            }
            &_animate{
                animation: slideInRight 1.5 backwards 2s;
            }
        }
        iframe{
            width: 100%;
            height: auto;
            display: block;
            box-shadow: 5px 5px 5px white, -5px -5px 5px white;
        }
    }
}