.title{
    font-family: 'Perlata';
    font-weight: 700;
    font-size: 60px;
    color: #071678;
    text-shadow: -2px 0 #FFA501, 0 2px #FFA501, 2px 0 #FFA501, 0 -2px #FFA501;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0;
    &_white-shadow{
        text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
    }
    &_white{
        color:white;
        text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    }
    &__modal{
        font-size: 30px;
        margin-bottom: 10px;
    }
    &_animate{
        animation: flip 1s;
    }
}


@media (max-width: 768px){
    .title{
        font-size: 40px;
        &__modal{
            font-size: 23px;
            margin-bottom: 10px;
        }
    }
    
}
@media (max-width: 425px){
    .title{
        font-size: 32px;
        &__modal{
            font-size: 24px;
            margin-bottom: 12px;
        }
    }
}