.title{
    font-weight: 700;
    font-size: 60px;
    color: #FFA501;
    text-shadow: -2px 0 #071678, 0 2px #071678, 2px 0 #071678, 0 -2px #071678;
    text-transform: uppercase;
    text-align: center;
    &_white-shadow{
        text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
    }
    &_white{
        color:white;
        text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    }
    &_modal{
        font-size: 36px;
        margin: 15px 0;
    }
}